<style type="text/css">
    <!-  
	    p {}
	    .ftp {position:fixed;top:0px;left:0px;background-color: #ebebeb;height: 45px;width:100%;text-align: center;}
        .ftp p {position:relative;bottom:12%;}
        .ftp button {height:80%;font-size:0.75em;float:left;position:relative;bottom:105%;background-color:#fff;}
        .fsp {height:45px;width:100%;float:top;}
        .es {background-color:#6699ff;width:98.5%;height:40px;margin:1%;}
        img {max-width: 37%; height: 100%;float:left;}
        button {border-radius:5px;border-color:#fff;}
        ui{list-style: none;}
	-->    
</style>